<app-loader *ngIf="loading"></app-loader>
<div class='d-flex flex-column align-items-center justify-content-center' *ngIf="!loading">
  <div class='row w-100'>
    <div class=" form-inline form-group col-md-4 pl-0">
      <label for="inputPassword" class="ml-0 col-md-4 col-form-label">Incidentes:</label>
      <select class="form-control col-md-5" id="categoria" [(ngModel)]="categoriaSeleccionada" name="categoria"
        #categoria="ngModel" (change)="filterBy($event.target.value)">
        <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
    <div class='col-md-4 d-flex justify-content-end pr-0'>
      <button type="button" (click)="exportAsXLSX()" class="btn btn-outline-success mb-4">Exportar a Excel</button>
    </div>
  </div>

  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">DNI</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Celular</th>
        <th scope="col">Correo</th>
        <th scope="col">Incidente</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios, let i = index">
        <td scope="col">{{i+1}}</td>
        <td scope="col">{{usuario.dni}}</td>
        <td scope="col">{{usuario.name}}</td>
        <td scope="col">{{usuario.last}}</td>
        <td scope="col">{{usuario.celular}}</td>
        <td scope="col">{{usuario.email}}</td>
        <td scope="col">{{usuario.title}}</td>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
