<div class='row w-100'>

  <div class="col-md-10">
    <div class="row d-flex align-items-center">
      <p>Filtrar por fecha:</p>
      <div class="col">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="d1" [(ngModel)]="fechaSeleccionada1" ngbDatepicker
                #d1="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col">
          <form class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="d2" [(ngModel)]="fechaSeleccionada2" ngbDatepicker
                  #d2="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
                  </div>
                </div>
              </div>
            </form>
      </div>
    </div>
    <button type="button" class="btn btn-outline-success mb-4">Filtrar</button>

  </div>
  <div class='col-md-2 d-flex justify-content-end pr-0'>
    <button type="button" (click)="exportAsXLSX()" class="btn btn-outline-success mb-4">Exportar a Excel</button>
  </div>
</div>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" data-toggle="tab" role="tab" aria-selected="true" (click)="filterBy(1)">Por
      atender</a>
    <a class="nav-item nav-link " data-toggle="tab" role="tab" aria-selected="false" (click)="filterBy(2)">En
      progreso</a>
    <a class="nav-item nav-link" data-toggle="tab" role="tab" aria-selected="false" (click)="filterBy(3)">Resueltos</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">

  <app-table [arrayIncidentes]="incidentes"></app-table>

</div>
