<div class='row w-100'>
  <div class=" form-inline form-group col-md-4 pl-0">
    <!-- <label for="inputPassword" class="ml-0 col-md-4 col-form-label">Incidentes:</label>
    <select class="form-control col-md-5" id="categoria" [(ngModel)]="categoriaSeleccionada" name="categoria"
      #categoria="ngModel" (change)="filterBy($event.target.value)">
      <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
    </select> -->
  </div>
  <div class="col-md-4">
    <!-- <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form> -->
  </div>
  <div class='col-md-4 d-flex justify-content-end pr-0'>
    <button type="button" (click)="exportAsXLSX()" class="btn btn-outline-success mb-4">Exportar a Excel</button>
  </div>
</div>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" data-toggle="tab" role="tab" aria-selected="true"
      (click)="filterBy(1)">Por atender</a>
    <a class="nav-item nav-link " data-toggle="tab" role="tab"  aria-selected="false"
      (click)="filterBy(2)">En progreso</a>
    <a class="nav-item nav-link" data-toggle="tab" role="tab" aria-selected="false"
      (click)="filterBy(3)">Resueltos</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">

  <app-table [arrayIncidentes]="incidentes"></app-table>

</div>
