<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading">

  <div class=" form-inline form-group col-md-4 mb-4">
    <label for="inputPassword" class="col-md-3 col-form-label">Categorias</label>
    <select class="form-control col-md-5" id="categoria" [(ngModel)]="categoriaSeleccionada" name="categoria"
      #categoria="ngModel" (change)="filterBy($event.target.value)">
      <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
    </select>
  </div>
  <div class='mapContainer'>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]=12>
      <agm-marker *ngFor="let incidente of incidentes; let i = index" (markerClick)='markerClick(i)'
        [latitude]="incidente.latitud" [longitude]="incidente.longitud"
        [iconUrl] ="{url: incidente.categoria === 'Asesinato' ? '../../../assets/images/asesinato.png' :
                          incidente.categoria === 'Secuestro' ? '../../../assets/images/secuestro.png' :
                          incidente.categoria === 'Asalto' ? '../../../assets/images/asalto.png' :
                          incidente.categoria === 'Incendio' ? '../../../assets/images/incendio.png' :
                          incidente.categoria === 'Prostitución' ? '../../../assets/images/prostitucion.png' : null}"
        >
        <agm-info-window [isOpen]="infoWindowOpen">
          <h5>{{incidente.categoria}}</h5>
          <p>{{incidente.descripcion}}</p>
          <img class="my-2" *ngIf="incidente.image" [src]="incidente.image" [alt]="incidente.descripcion">
          <div>
            <button type="button" class="btn btn-success btn-sm btn-block">Atender</button>
            <button type="button" class="btn btn-secondary btn-sm btn-block">Aceptar</button>
          </div>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
