<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading">

  <div class=" form-inline form-group col-md-4 mb-4">
    <label for="inputPassword" class="col-md-3 col-form-label">Categorias</label>
    <select class="form-control col-md-5" id="categoria" [(ngModel)]="categoriaSeleccionada" name="categoria"
      #categoria="ngModel" (change)="filterBy($event.target.value)">
      <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
    </select>
  </div>
  <div class='mapContainer'>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]=12>
      <agm-marker *ngFor="let incidente of incidentes; let i = index" (markerClick)='markerClick(i)'
        [latitude]="incidente.latitud" [longitude]="incidente.longitud">
        <agm-info-window [isOpen]="infoWindowOpen">
          <h5>{{incidente.categoria}}</h5>
          <p>{{incidente.descripcion}}</p>
          <!-- <img *ngIf="incidente.image" [src]="incidente.image" alt=""> -->
          <div>
            <button type="button" class="btn btn-primary btn-sm">Aceptar</button>
            <button type="button" class="btn btn-danger btn-sm">Cancelar</button>
          </div>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
