<app-loader *ngIf="loading"></app-loader>
<div *ngIf="!loading">

  <div class=" form-inline form-group col-md-4 mb-4">
    <label for="inputPassword" class="col-md-3 col-form-label">Categorias</label>
    <select class="form-control col-md-5" id="categoria" [(ngModel)]="categoriaSeleccionada" name="categoria"
      #categoria="ngModel" (change)="filterBy($event.target.value)">
      <option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</option>
    </select>
  </div>
  <div class='mapContainer'>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]=12>
      <ng-component *ngFor="let incidente of incidentes; let i = index">
        <agm-marker *ngIf="incidente.estado < 3" (markerClick)='markerClick(infoWindow)' [latitude]="incidente.latitud"
          [longitude]="incidente.longitud"
          [iconUrl]="{url: incidente.categoria === 'Asesinato' ? '../../../assets/images/asesinato.png' :
                            incidente.categoria === 'Secuestro' ? '../../../assets/images/secuestro.png' :
                            incidente.categoria === 'Asalto' ? '../../../assets/images/asalto.png' :
                            incidente.categoria === 'Incendio' ? '../../../assets/images/incendio.png' :
                            incidente.categoria === 'Prostitución' ? '../../../assets/images/prostitucion.png' : null}">
          <agm-info-window [isOpen]="infoWindowOpen" #infoWindow>
            <div class="d-flex flex-column">
              <h5>{{incidente.categoria}}</h5>
              <p>{{incidente.descripcion}}</p>
              <img style="height: 100px; margin: auto; cursor: pointer;" class="my-2 align-self-center" *ngIf="incidente.image"
                [src]="incidente.image" data-toggle="modal" data-target="#exampleModalCenter"
                (click)="imgSelected = incidente.image" [alt]="incidente.descripcion">
              <div>
                <button *ngIf="incidente.estado == 1" type="button" class="btn btn-success btn-sm btn-block"
                  (click)="updateIncidente(incidente.key, 2)">Atender</button>
                <button type="button" class="btn btn-primary btn-sm btn-block"
                  (click)="updateIncidente(incidente.key, 3)">Finalizar</button>
              </div>
            </div>

          </agm-info-window>
        </agm-marker>
      </ng-component>

    </agm-map>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body d-flex justify-content-center">
        <img style="height: 70vh;" [src]="imgSelected" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
