<table class="table table-bordered table-hover my-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Categoría</th>
        <th scope="col">Descripción</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let incidente of arrayIncidentes, let i = index">
        <th scope="col">{{i+1}}</th>
        <th scope="col">{{incidente.categoria}}</th>
        <th scope="col">{{incidente.descripcion}}</th>
        <th scope="col">{{incidente.imagen}}</th>
    </tbody>
